@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

/*paleta de colores
    1. azul oscuro = #1a4878
    2. celeste claro = #cbf4f6
    3. fondo footer y header = #556980
    4. fondo formulario = #afcde3
*/

body,
html {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header,
.footer {
    background-color: #556980;
    color: #cbf4f6;
    font-family: "Roboto", sans-serif;
}
.header {
    padding: 25px;
    font-weight: 900;
}
.header-title {
    font-weight: 900;
    font-size: 50px;
    text-transform: uppercase;
}

.style-form {
    padding: 35px;
    font-family: "Roboto", sans-serif;
    background-color: #afcde3;
    border-radius: 12px;
    border: 1px solid #cbf4f6;
    -webkit-box-shadow: 15px 18px 40px -2px rgba(228, 235, 237, 1);
    -moz-box-shadow: 15px 18px 40px -2px rgba(228, 235, 237, 1);
    box-shadow: 15px 18px 40px -2px rgba(228, 235, 237, 1);
}

.form-title {
    font-weight: 900;
    font-size: 22px;
    color: #1a4878;
    text-transform: uppercase;
}

.a-link {
    text-decoration: none;
    color: #1a4878;
    font-weight: 700;
}

.footer {
    padding: 10px;
}

.footer-content {
    font-weight: 300;
    font-size: 15px;
    padding-top: 5px;
    text-align: center;
}
